<%= cl_image_tag spot.photos.first.key, height: 50, width: 50, crop: :fill %>
<h2><%= spot.name %></h2>

<% unless average_rating.nil?  %>
  <%= "rate :" %>
  <% average_rating.to_i.times do  %>
    ⭐️
  <% end %>
<% end %>

<div data-controller="weather">
  <p hidden data-weather-target="latitude"><%= spot.latitude %></p>
  <p hidden data-weather-target="longitude"><%= spot.longitude %></p>
  <img src="" alt="Weather Icon" data-weather-target="icon">
  <h3 data-weather-target="temperature"></h3>
</div>
