<div class="d-contenaire">
  <div class="d-box">
    <%= simple_form_for(@spot) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :longitude %>
      <%= f.input :latitude %>
      <%= f.input :facility %>
      <%= f.label :category %>
      <%= f.select(:category, ['Scuba diving', 'Snorkeling', 'Scuba Diving & Snorkeling'], {}, {:class => 'form-control'}) %>
      <%= f.label :difficulty %>
      <%= f.select(:difficulty, ['Beginner', 'Intermediate', 'Expert'], {}, {:class => 'form-control'}) %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
