<div class="d-map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="icon-subs" data-controller="filter">
<% if params[:filter] == "snorkeling"  %>
  <div class="icon-sub highlighted" data-filter-target="" data-action="click->filter#filter">
    <%= image_tag "Snorkeling.png", data: { controller: "tooltip",
      bs_toggle: "tooltip", bs_placement: "top" },
      title: "Click here to see only Snorkeling locations, unclick to reset" %>
    <p>Snorkeling</p>
  </div>
<% else %>
<div class="icon-sub" data-filter-target="snorkeling" data-action="click->filter#filter">
    <%= image_tag "Snorkeling.png", data: { controller: "tooltip",
      bs_toggle: "tooltip", bs_placement: "top" },
      title: "Click here to see only Snorkeling locations, unclick to reset" %>
    <p>Snorkeling</p>
  </div>
<% end %>
<% if params[:filter] == "scubadiving"  %>
  <div class="icon-sub highlighted" data-filter-target="" data-action="click->filter#filter">
   <%= image_tag "markerdive.png", data: { controller: "tooltip",
      bs_toggle: "tooltip", bs_placement: "top" },
       title: "Click here to see only Scuba Diving locations, unclick to reset" %>
    <p>Scubadiving</p>
  </div>
<% else %>
  <div class="icon-sub" data-filter-target="scubadiving" data-action="click->filter#filter">
    <%= image_tag "markerdive.png", data: { controller: "tooltip",
      bs_toggle: "tooltip", bs_placement: "top" },
       title: "Click here to see only Scuba Diving locations, unclick to reset" %>
    <p>Scubadiving</p>
  </div>
<% end %>
<% if params[:filter] == "snorkeling_scubadiving"  %>
  <div class="icon-sub highlighted" data-filter-target="" data-action="click->filter#filter">
    <%= image_tag "Scubadiving&Snorkeling.png", data: { controller: "tooltip",
      bs_toggle: "tooltip", bs_placement: "top" },
      title: "Click here to see places were you can do both, unclick to reset" %>
    <p>Scubadiving</p>
  </div>
<% else %>
  <div class="icon-sub" data-filter-target="snorkeling_scubadiving" data-action="click->filter#filter">
    <%= image_tag "Scubadiving&Snorkeling.png", data: { controller: "tooltip",
      bs_toggle: "tooltip", bs_placement: "top" },
      title: "Click here to see places were you can do both, unclick to reset" %>
    <p>Scubadiving<br> & Snorkeling</p>
  </div>
<% end %>
</div>
