<div class="d-map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="icon-subs">
  <div class="icon-sub">
    <%= image_tag "Snorkeling.png", data: { controller: "tooltip",
      bs_toggle: "tooltip", bs_placement: "top" },
      title: "Click here to see only Snorkeling locations, unclick to reset" %>
    <p>Snorkeling</p>
  </div>
  <div class="icon-sub">
    <%= image_tag "markerdive.png", data: { controller: "tooltip",
      bs_toggle: "tooltip", bs_placement: "top" },
       title: "Click here to see only Scuba Diving locations, unclick to reset" %>
    <p>Scubadiving</p>
  </div>
  <div class="icon-sub">
    <%= image_tag "Scubadiving&Snorkeling.png", data: { controller: "tooltip",
      bs_toggle: "tooltip", bs_placement: "top" },
      title: "Click here to see places were you can do both, unclick to reset" %>
    <p>Scubadiving<br> & Snorkeling</p>
  </div>
</div>
