<div class="d-map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="icon-subs">
  <div class="icon-sub">
    <%= image_tag "Snorkeling.png" %>
    <p>Snorkeling</p>
  </div>
  <div class="icon-sub">
    <%= image_tag "markerdive.png" %>
    <p>Scubadiving</p>
  </div>
  <div class="icon-sub">
    <%= image_tag "Scubadiving&Snorkeling.png" %>
    <p>Scubadiving<br> & Snorkeling</p>
  </div>
</div>
