
    <h2>Review this spot!</h2>
  <div class="d-box">
    <%= simple_form_for [spot, review] do |f| %>
      <%= f.input :content %>
      <%= f.label :Rate_this_spot_from_0_to_5 %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Submit review", class: "btn-gps" %>
    <% end %>
  </div>
