
    <h2>Review this spot!</h2>
  <div class="d-box">
    <%= simple_form_for [spot, review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", required: true, input_html: {data: {controller: "star-rating"}}  %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Submit review", class: "btn-gps" %>
    <% end %>
  </div>
